@import url("https://fonts.googleapis.com/css2?family=Black+Ops+One&display=swap");

@font-face {
  font-family: digital;
  src: url("../DS-DIGII.TTF") format("truetype");
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
html {
  font-family: roboto;
}

body {
  height: 100vh;
  width: 100vw;
  display: flex;
  justify-content: center;
  align-items: center;
  background-image: url("../Images/arquibancada.png");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

#game-board {
  background-image: url("../Images/campo.jpeg");
  height: 400px;
  width: 800px;
  display: grid;
  grid-template-columns: repeat(40, 20px);
  grid-template-rows: repeat(20, 20px);
}

.neymar {
  background-color: blue;
  width: 20px;
  height: 20px;
  border: 1px solid black;
}

.enemy {
  background-color: red;
  width: 20px;
  height: 20px;
  border: 1px solid black;
}

.new-enemy {
  background-color: yellow;
  width: 20px;
  height: 20px;
  border: 1px solid black;
}

#countdown {
  font-family: digital;
  color: white;
  background-color: black;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  margin: 0;
  font-size: 80px;
  height: 70px;
  width: 200px;
  border: 1px solid white;
}

#all-page {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

#star-buttom {
  font-family: "black ops one";
  background-color: yellow;
  border: none;
  font-size: 40px;
  position: absolute;
  padding: 15px;
  color: green;
}

.life-icon {
  width: 100px;
  background-color: whitesmoke;
  border: 1px solid black;
}

#footer {
  justify-content: space-between;
  gap: 10px;
  display: flex;
}
