* {
  margin: 0;
  margin-top: 100px;
  padding: 0;
  box-sizing: border-box;
}

.container {
  width: 900px;
  height: 500px;
  border: 1px solid black;
  margin: 0 auto;
  position: relative;
  overflow: hidden;
}

.neymar {
  background-color: blue;
  width: 50px;
  height: 50px;
  position: absolute;
  bottom: 0;
  left: 450px;
}

.carrinho {
  background-color: red;
  width: 80px;
  height: 80px;
  position: absolute;
  top: 0;
  left: 450px;
  animation: enemy-animation 2s linear;
}

.mariaChuteira {
  background-color: palevioletred;
  width: 100px;
  height: 100px;
  position: absolute;
  top: 0;
  left: 150px;
  animation: enemy-animation 2s linear;
}

.falsosAmigos {
  background-color: green;
  width: 30px;
  height: 30px;
  position: absolute;
  top: 0;
  left: 750px;
  animation: enemy-animation 2s linear;
}

@keyframes enemy-animation {
  from {
    top: -100px;
  }

  to {
    top: 100%;
  }
}
